@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1a1e1c;
  font-size: 1rem;
  color: #fff;
  overflow-x: hidden;
}

button,
.btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .mobile__menu {
    @apply fixed min-w-full min-h-screen top-[100%] right-0 bg-black/90 backdrop-blur-md;

    & > div {
      @apply py-12 items-center;
    }
  }
}

.footer__link__group {
  @apply flex flex-col gap-3 md:col-span-2;

  .group__title {
    @apply text-base font-bold;
  }
}

.footer__link__group li {
  @apply text-base font-normal text-[#ADB2B1] mt-2;
}
