@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1A1E1C;
  font-size: 1rem;
  color: #fff;
}

button,
.btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
