@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1a1e1c;
  font-size: 1rem;
  color: #fff;
  overflow-x: hidden;
}

button,
.btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.footer__link__group {
  @apply flex flex-col gap-3 md:col-span-2;

  .group__title {
    @apply text-base font-bold;
  }
}

.footer__link__group li {
  @apply text-base font-normal text-[#ADB2B1] mt-2;
}

